body { margin: 0; padding: 0; zoom: 1; }

.nav a {
    color: #5a5a5a;
    background-color:rgba(255,255,255,0.6);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right:10px;
    text-transform: uppercase;
    width: 100px; 
    display: inline-block; 
    vertical-align: top; 
    text-align: left; 
}

.container {
    width:960px;
    margin:0 left;
}

.hello {
    min-height: 800px;
    background: url(../img/home.jpg) no-repeat left; 
    background-attachment: fixed;
    padding: 40px 20px 80px 20px;
    background-color: #415062;
    background-size: cover;
}

.hello h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px 0 20px;
    line-height: 42px;
}

.hello p{
    color: #C2C2C2;
    font-size:20px;
    font-family: 'Gentium Basic';
    padding: 20px 20px 0 20px;
    max-width: 300px
}

.ventures {
    height: 800px;
    background-image: url('');
    padding: 40px 20px 80px 20px;
}

.ventures h1{
    color: #000000;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px 0 20px;
}

.ventures p{
    color: #808080;
    font-size:20px;
    font-family: 'Gentium Basic';
    padding: 20px 20px 0 20px;
    max-width: 500px
}

.ventures img{
    padding: 20px 20px 0 20px;
}

.livework {
    height: 800px;
    background: url(../img/livework.jpg) no-repeat left; 
    background-attachment: fixed;
    background-color: #F2F2F2;
    background-size: cover;
    padding: 40px 20px 80px 20px;
}

.livework h1{
    color: #000000;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px 0 20px;

}

.livework p{
    color: #808080;
    font-size:20px;
    font-family: 'Gentium Basic';
    padding: 10px 20px 0 20px;
    max-width: 500px;
}

.livework ul{
    color:#808080;
    font-size:18px;
    font-family: 'Gentium Basic';
    padding: 0px 20px 0 40px;
    max-width: 500px;
}

.eise {
    height: 380px;
    background: url(../img/eise.jpg) no-repeat left;
    padding: 40px 20px 80px 20px;
    background-size: cover;
}

.eise h1{
    color: #333333;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px 0 20px;
    line-height: 20px;
    margin-bottom:0;
}

.eise h2{
    color: #666666;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 20px 0 20px;
    line-height: 18px
}

.eise p{
    color: #E6E6E6;
    font-size:20px;
    font-family: 'Gentium Basic';
    padding: 20px 20px 0 20px;
    max-width: 500px

}
.dtbr {
    height: 900px;
    background: url(../img/dtbr.jpg) no-repeat left; 
    background-attachment: fixed;
    padding: 40px 20px 80px 20px;
    background-size: cover;
}

.dtbr .container { 
	width: 100%; 
	min-height: 400px; 
	-webkit-font-smoothing:antialiased; 
	text-rendering:optimizeLegibility; 
}

.dtbr h1{
    color: #F8BF00;
    text-transform: uppercase;
    padding: 20px 20px 0 20px;
    line-height: 38px;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.dtbr p{
    color: #FFFFFF;
    font-size:20px;
    font-family: 'Gentium Basic';
    max-width:300px;
    padding:20px 20px 0 20px;
}

.servir-bem {
    height: 800px;
    background: url(../img/servir-bem.jpg) no-repeat left; 
    background-attachment: fixed;
    padding: 40px 20px 80px 20px;
    background-size: cover;
}

.servir-bem h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px 0 20px;
    line-height: 40px;
    text-decoration: underline;

}

.servir-bem p{
    color: #F2F2F2;
    font-size:20px;
    font-family: 'Gentium Basic';
    padding: 20px 20px 0 20px;
    max-width: 300px
}

.speaking {
    height: 600px;
    background-color: black;
    background: url(../img/speaking.jpg) no-repeat top left; 
    padding: 40px 20px 80px 20px;
    background-size: cover;
}

.speaking h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px 0 20px;
}

.speaking p{
    color: #ccc;
    font-size:20px;
    font-family: 'Gentium Basic';
    padding: 20px 20px 0 20px;
    max-width: 400px
}

.speaking h3{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px 0 20px;
}

.speaking ul{
    color: #ccc;
    font-size:20px;
    font-family: 'Gentium Basic';
    padding: 20px 20px 0 20px;
    max-width: 400px
}

.teaching {
    height: 800px;
    background-color: white;
    padding: 40px 20px 80px 20px;
}

.teaching h1{
    color: #000000;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px 0 20px;
}

.teaching p{
    color: #808080;
    font-size:20px;
    font-family: 'Gentium Basic';
    padding: 20px 20px 0 20px;
    max-width: 600px
}

.press {
    height: 300px;
    background-color: black;
    padding: 40px 20px 80px 20px;
}

.press h1{
    color: #ccc;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px 0 20px;

}

.press p{
    color: #FFFFFF;
    font-size:20px;
    font-family: 'Gentium Basic';
    padding: 20px 20px 0 20px;
    max-width: 500px
}

.press ul{
    color: #FFFFFF;
    font-size:16px;
    font-family: 'Gentium Basic';
    padding: 20px 40px 0 20px;
    max-width: 800px
    list-style: none;
}

.contact {
    height:200px;
    background-color: #f7f7f7;
    padding: 40px 20px 80px 20px;

}

.contact .colophon {
    width: 300px; 
    display: inline-block; 
    vertical-align: top; 
    text-align: left; 
    margin: 0 7px 30px 10px; 
}

.contact h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.contact p{
    color: #808080;
    font-family: 'Gentium Basic', serif;
}

.contact a{
    color: #00b0ff;
}

@media all and (min-width: 768px) {

    .hello { background-color: #171e26 url(../img/hello_small.png) no-repeat right bottom; }
    .hello .container { width: 340px; }
    .hello h1 { max-width: 340px; font-size:24px; width: auto; padding: 0 20px; }
    .hello p { max-width: 340px; width: 340px; padding: 0 20px; }

    .ventures .container { width: 340px; }
    .ventures h1 { max-width: 340px; width: 340px; padding: 0 20px; }
    .ventures p { max-width: 340px; width: 340px; padding: 0 20px; }
    .ventures img { max-width: 340px; width: 340px; padding: 0 20px; }

    .livework .container { width: 340px; }
    .livework h1 { max-width: 340px; width: 340px; padding: 0 20px; }
    .livework p { max-width: 340px; width: 340px; padding: 0 20px; }
    .livework img { max-width: 340px; width: 340px; padding: 0 20px; }
    .livework ul { max-width: 340px; width: 340px; padding: 0 20px; }

    .eise .container { width: 340px; }
    .eise h1 { max-width: 340px; width: 340px; padding: 0 20px; }
    .eise h2 { max-width: 340px; width: 340px; padding: 0 20px; }
    .eise p { max-width: 340px; width: 340px; padding: 0 20px; }

    .dtbr .container { width: 340px; }
    .dtbr h1 { max-width: 340px; width: 340px; padding: 0 20px; }
    .dtbr p { max-width: 340px; width: 340px; padding: 0 20px; }

    .servir-bem .container { width: 340px; }
    .servir-bem h1 { max-width: 340px; width: 340px; padding: 0 20px; }
    .servir-bem p { max-width: 340px; width: 340px; padding: 0 20px; }
    
    .speaking .container { width: 340px; }
    .speaking h1 { max-width: 340px; width: 340px; padding: 0 20px; }
    .speaking p { max-width: 340px; width: 340px; padding: 0 20px; }
    .speaking ul { max-width: 340px; width: 340px; padding: 0 20px; }

    .teaching .container { width: 340px; }
    .teaching h1 { max-width: 340px; width: 340px; padding: 0 20px; }
    .teaching p { max-width: 340px; width: 340px: auto; padding: 0 20px; }
    .teaching img { max-width: 340px; width: 340px; padding: 0 20px; }

    .press .container { width: 340px; }
    .press h1 { max-width: 340px; width: 340px; padding: 0 20px; }
    .press p { max-width: 340px; width: 340px; padding: 0 20px; }
    .press ul { max-width: 340px; width: 340px; padding: 0 20px; }

    .contact .container { width: 340px; }
    .contact h3 { max-width: 340px; width: 340px; padding: 0 20px; }
    .contact p { max-width: 340px; width: 340px; padding: 0 20px; }
    
}

/* .hello .container .moral { margin-bottom: 80px; } */


/*
@media only screen and ( min-width: 33.75em ) {
    .hello { font-size: 100%; }
    .ventures { font-size: 100%; }
    .livework { font-size: 100%; }
    .eise { font-size: 100%; }
    .dtbr { font-size: 100%; }
    .servir-bem { font-size: 100%; }
    .speaking { font-size: 100%; }
    .teaching { font-size: 100%; }
    .press { font-size: 100%; }

}
@media only screen and ( min-width: 33.75em ) {
    .hello { background-size: 740px auto; }
    .hello p { padding-left: 25%; }
    .hello p:last-child { padding-left: 0; }
    .ventures { background-size: 740px auto; }
    .ventures p { padding-left: 25%; }
    .ventures p:last-child { padding-left: 0; }
    .livework { background-size: 740px auto; }
    .livework p { padding-left: 25%; }
    .livework p:last-child { padding-left: 0; }
    .eise { background-size: 740px auto; }
    .eise p { padding-left: 25%; }
    .eise p:last-child { padding-left: 0; }
    .dtbr { background-size: 740px auto; }
    .dtbr p { padding-left: 25%; }
    .dtbr p:last-child { padding-left: 0; }
    .servir-bem { background-size: 740px auto; }
    .servir-bem p { padding-left: 25%; }
    .servir-bem p:last-child { padding-left: 0; }
    .speaking { background-size: 740px auto; }
    .speaking p { padding-left: 25%; }
    .speaking p:last-child { padding-left: 0; }
    .teaching { background-size: 740px auto; }
    .teaching p { padding-left: 25%; }
    .teaching p:last-child { padding-left: 0; }
    .press { background-size: 740px auto; }
    .press p { padding-left: 25%; }
    .press p:last-child { padding-left: 0; }
}
*/



